<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebCosmticShopUser</display-name>
  <welcome-file-list>
    <welcome-file>ShowHomeServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowProductListServlet</display-name>
    <servlet-name>ShowProductListServlet</servlet-name>
    <servlet-class>controller.ShowProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductListServlet</servlet-name>
    <url-pattern>/ShowProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomeServlet</display-name>
    <servlet-name>ShowHomeServlet</servlet-name>
    <servlet-class>controller.ShowHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomeServlet</servlet-name>
    <url-pattern>/ShowHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductDetailServlet</display-name>
    <servlet-name>ShowProductDetailServlet</servlet-name>
    <servlet-class>controller.ShowProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductDetailServlet</servlet-name>
    <url-pattern>/ShowProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>controller.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>controller.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>controller.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCheckoutServlet</display-name>
    <servlet-name>ShowCheckoutServlet</servlet-name>
    <servlet-class>controller.ShowCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCheckoutServlet</servlet-name>
    <url-pattern>/ShowCheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizePaymentServlet</display-name>
    <servlet-name>AuthorizePaymentServlet</servlet-name>
    <servlet-class>controller.AuthorizePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizePaymentServlet</servlet-name>
    <url-pattern>/AuthorizePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePaymentServlet</display-name>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <servlet-class>controller.ExecutePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <url-pattern>/ExecutePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPaymentServlet</display-name>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <servlet-class>controller.ReviewPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <url-pattern>/ReviewPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReceiptServlet</display-name>
    <servlet-name>ShowReceiptServlet</servlet-name>
    <servlet-class>controller.ShowReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReceiptServlet</servlet-name>
    <url-pattern>/ShowReceiptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInforServlet</display-name>
    <servlet-name>ShowInforServlet</servlet-name>
    <servlet-class>controller.ShowInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInforServlet</servlet-name>
    <url-pattern>/ShowInforServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>controller.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderDetailServlet</display-name>
    <servlet-name>ShowOrderDetailServlet</servlet-name>
    <servlet-class>controller.ShowOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDetailServlet</servlet-name>
    <url-pattern>/ShowOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInforServlet</display-name>
    <servlet-name>EditInforServlet</servlet-name>
    <servlet-class>controller.EditInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInforServlet</servlet-name>
    <url-pattern>/EditInforServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateServlet</display-name>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>controller.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/RateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>controller.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByProductGroup</display-name>
    <servlet-name>ShowProductByProductGroup</servlet-name>
    <servlet-class>controller.ShowProductByProductGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByProductGroup</servlet-name>
    <url-pattern>/ShowProductByProductGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByCatGroup</display-name>
    <servlet-name>ShowProductByCatGroup</servlet-name>
    <servlet-class>controller.ShowProductByCatGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByCatGroup</servlet-name>
    <url-pattern>/ShowProductByCatGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoriesByGroupServlet</display-name>
    <servlet-name>GetCategoriesByGroupServlet</servlet-name>
    <servlet-class>controller.GetCategoriesByGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoriesByGroupServlet</servlet-name>
    <url-pattern>/GetCategoriesByGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByCat</display-name>
    <servlet-name>ShowProductByCat</servlet-name>
    <servlet-class>controller.ShowProductByCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByCat</servlet-name>
    <url-pattern>/ShowProductByCat</url-pattern>
  </servlet-mapping>
</web-app>