<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebComesticShop</display-name>
  <welcome-file-list>
    <welcome-file>loginAdmin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>checkLoginAdminServlet</display-name>
    <servlet-name>checkLoginAdminServlet</servlet-name>
    <servlet-class>controller.checkLoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLoginAdminServlet</servlet-name>
    <url-pattern>/checkLoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCategoryListServlet</display-name>
    <servlet-name>ShowCategoryListServlet</servlet-name>
    <servlet-class>controller.ShowCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCategoryListServlet</servlet-name>
    <url-pattern>/ShowCategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBrandListServlet</display-name>
    <servlet-name>ShowBrandListServlet</servlet-name>
    <servlet-class>controller.ShowBrandListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBrandListServlet</servlet-name>
    <url-pattern>/ShowBrandListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDashBoardServlet</display-name>
    <servlet-name>ShowDashBoardServlet</servlet-name>
    <servlet-class>controller.ShowDashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDashBoardServlet</servlet-name>
    <url-pattern>/ShowDashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductListServlet</display-name>
    <servlet-name>ShowProductListServlet</servlet-name>
    <servlet-class>controller.ShowProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductListServlet</servlet-name>
    <url-pattern>/ShowProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCustomerListServlet</display-name>
    <servlet-name>ShowCustomerListServlet</servlet-name>
    <servlet-class>controller.ShowCustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomerListServlet</servlet-name>
    <url-pattern>/ShowCustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderListServlet</display-name>
    <servlet-name>ShowOrderListServlet</servlet-name>
    <servlet-class>controller.ShowOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderListServlet</servlet-name>
    <url-pattern>/ShowOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmployeeListServlet</display-name>
    <servlet-name>ShowEmployeeListServlet</servlet-name>
    <servlet-class>controller.ShowEmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployeeListServlet</servlet-name>
    <url-pattern>/ShowEmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProfileServlet</display-name>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>controller.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/ShowProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCategoryGroupServlet</display-name>
    <servlet-name>ShowCategoryGroupServlet</servlet-name>
    <servlet-class>controller.ShowCategoryGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCategoryGroupServlet</servlet-name>
    <url-pattern>/ShowCategoryGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>controller.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCategoryServlet</display-name>
    <servlet-name>CreateCategoryServlet</servlet-name>
    <servlet-class>controller.CreateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategoryServlet</servlet-name>
    <url-pattern>/CreateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCategory</display-name>
    <servlet-name>CreateCategory</servlet-name>
    <servlet-class>controller.CreateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategory</servlet-name>
    <url-pattern>/CreateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditCategoryGroupSerlvet</display-name>
    <servlet-name>ShowEditCategoryGroupSerlvet</servlet-name>
    <servlet-class>controller.ShowEditCategoryGroupSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditCategoryGroupSerlvet</servlet-name>
    <url-pattern>/ShowEditCategoryGroupSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryGroupServlet</display-name>
    <servlet-name>EditCategoryGroupServlet</servlet-name>
    <servlet-class>controller.EditCategoryGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryGroupServlet</servlet-name>
    <url-pattern>/EditCategoryGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditCategoryServlet</display-name>
    <servlet-name>ShowEditCategoryServlet</servlet-name>
    <servlet-class>controller.ShowEditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditCategoryServlet</servlet-name>
    <url-pattern>/ShowEditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>controller.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomerServlet</display-name>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <servlet-class>controller.CreateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <url-pattern>/CreateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditCustomerServlet</display-name>
    <servlet-name>ShowEditCustomerServlet</servlet-name>
    <servlet-class>controller.ShowEditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditCustomerServlet</servlet-name>
    <url-pattern>/ShowEditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>controller.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmployeeServlet</display-name>
    <servlet-name>CreateEmployeeServlet</servlet-name>
    <servlet-class>controller.CreateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmployeeServlet</servlet-name>
    <url-pattern>/CreateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditEmployeeServlet</display-name>
    <servlet-name>ShowEditEmployeeServlet</servlet-name>
    <servlet-class>controller.ShowEditEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditEmployeeServlet</servlet-name>
    <url-pattern>/ShowEditEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeServlet</display-name>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <servlet-class>controller.EditEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <url-pattern>/EditEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBrandServlet</display-name>
    <servlet-name>CreateBrandServlet</servlet-name>
    <servlet-class>controller.CreateBrandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBrandServlet</servlet-name>
    <url-pattern>/CreateBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBrandServlet</display-name>
    <servlet-name>EditBrandServlet</servlet-name>
    <servlet-class>controller.EditBrandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBrandServlet</servlet-name>
    <url-pattern>/EditBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCategoryGroupServlet</display-name>
    <servlet-name>CreateCategoryGroupServlet</servlet-name>
    <servlet-class>controller.CreateCategoryGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategoryGroupServlet</servlet-name>
    <url-pattern>/CreateCategoryGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>controller.CreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCreateProductServlet</display-name>
    <servlet-name>ShowCreateProductServlet</servlet-name>
    <servlet-class>controller.ShowCreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateProductServlet</servlet-name>
    <url-pattern>/ShowCreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoriesByGroupServlet</display-name>
    <servlet-name>GetCategoriesByGroupServlet</servlet-name>
    <servlet-class>controller.GetCategoriesByGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoriesByGroupServlet</servlet-name>
    <url-pattern>/GetCategoriesByGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditProductServlet</display-name>
    <servlet-name>ShowEditProductServlet</servlet-name>
    <servlet-class>controller.ShowEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditProductServlet</servlet-name>
    <url-pattern>/ShowEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>controller.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCreateOrderServlet</display-name>
    <servlet-name>ShowCreateOrderServlet</servlet-name>
    <servlet-class>controller.ShowCreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateOrderServlet</servlet-name>
    <url-pattern>/ShowCreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderDetail</display-name>
    <servlet-name>ShowOrderDetail</servlet-name>
    <servlet-class>controller.ShowOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDetail</servlet-name>
    <url-pattern>/ShowOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>controller.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnableServlet</display-name>
    <servlet-name>EnableServlet</servlet-name>
    <servlet-class>controller.EnableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableServlet</servlet-name>
    <url-pattern>/EnableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnableCustomerServlet</display-name>
    <servlet-name>EnableCustomerServlet</servlet-name>
    <servlet-class>controller.EnableCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableCustomerServlet</servlet-name>
    <url-pattern>/EnableCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>controller.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBrandServlet</display-name>
    <servlet-name>DeleteBrandServlet</servlet-name>
    <servlet-class>controller.DeleteBrandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBrandServlet</servlet-name>
    <url-pattern>/DeleteBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductGroupServlet</display-name>
    <servlet-name>DeleteProductGroupServlet</servlet-name>
    <servlet-class>controller.DeleteProductGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductGroupServlet</servlet-name>
    <url-pattern>/DeleteProductGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCustomerServlet</display-name>
    <servlet-name>SearchCustomerServlet</servlet-name>
    <servlet-class>controller.SearchCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomerServlet</servlet-name>
    <url-pattern>/SearchCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>